*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    position: relative;
    background-color: #222629;

}


/* ------Navbar------- */
.navbar{
    position: sticky;
    top: 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    border-bottom: .3px solid #86c232;
    color: #86c232;

}

.nvida-img{
    width: 102.6px;
    height: 50px;
}

.menu-icon{
    padding-right: 138px;
    padding-left: 40px;
    font-size: 18px;
    color: #8eaebd;
}
.menu-icon:hover {
color:#86c232
}

.search-box{
    padding: 40px;

}

#search{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    background-color: #222629;
    border: 1.8px solid #8eaebd;
    color: #fff;


}

#search:hover{
    border: #86c232 2px solid;
}